* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.poster-image {
    width: 100%;
}

.paper-card {
    position: relative;
}

.fav-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: rgb(241, 243, 245);
}

.imdb-logo {
    height: 18px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    /* border: 1px solid black; */
    min-width: 500px;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.button {
    background-color: red;
}
/* Default styles for the search bar */
.search-bar {
    width: 100%;
    max-width: 300px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the search bar horizontally */
}

/* Media query for screens 768px or smaller */
@media screen and (max-width: 768px) {
    .search-bar {
        display: none; /* Hide the search bar */
    }
}

.detail-image {
    position: relative;
    margin: 1rem;
    width: 75vw;
    height: 70vh;
    border-radius: 10px;
    object-fit: cover;
}

.play-trailer {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: gray;
    top: 50%;
    left: 50%;
    color: white;
    align-items: center;
    transform: translate(-50%, -50%);
}

/* Container for the image and play-trailer box */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

/* Style for the image */
/* .detail-image {
  max-width: 100%;
} */

/* Style for the play-trailer box */
/* .play-trailer {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  padding: 10px; 
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Style for the play button icon */
.play-trailer .MuiIconButton-root {
    font-size: 36px; /* Adjust the icon size as needed */
    margin-right: 8px; /* Add some spacing between the icon and text */
}

.grid {
    display: flex;
    align-items: center;
    padding: "10px";
    font-weight: '700';
    font-size: large;
}
